@import '~carbon-components/scss/globals/scss/_vars.scss';

.ImageTextTeaser {
	background: $white-0;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	color: $black-100;
	transition: background 250ms ease-in-out;
	min-height: 100%;
	height: 100%;

	&:hover {
		text-decoration: none;
		color: $black-100;
		background: $gray-20;
	}

	.Image {
	}

	.RichText {
		margin: $spacing-05;
	}

	.Icon {
		margin: $spacing-05;
		fill: $blue-60;
	}
}
