@import '~carbon-components/scss/globals/scss/_vars.scss';

.TeaserList {
  &.HasPagination {
    overflow: hidden;
  }

  .PaginationNav {
    margin-top: $spacing-05;

    :global(ul) {
      justify-content: flex-end;
    }
  }

  .TransitionRow {
    transition: transform 500ms ease-in-out;
  }
}
