@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '@carbon/type/scss/styles';
@import '@/styles/mixins';
@import '@/styles/functions';

.PictogramTeaser {
	background: $gray-80;
	padding: $spacing-05 $spacing-05 $spacing-08 $spacing-05;
	display: flex;
	flex-direction: column;
	margin-bottom: $spacing-06;

	@include bp('lg') {
		margin-bottom: 0;
		min-height: 100%;
	}

	.Content {
		max-width: 75%;
	}

	.IconWrapper {
		margin-bottom: $spacing-06;
	}

	.Icon {
		fill: $blue-40;
	}

	.Headline,
	.Text {
		@include carbon--type-style('body-short-02', true);

		color: $white-0;
	}

	.Headline {
		@include carbon--type-style('expressive-heading-03', true);

		margin-bottom: $spacing-04;
	}

	.Text {

	}
}
