@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '@carbon/type/scss/styles';
@import '@/styles/mixins';
@import '@/styles/functions';

.MarginBottom {
  @include bp('lg') {
    margin-bottom: $spacing-07;
  }
}

.PictogramTeaser {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-06;
  padding: $spacing-05 $spacing-05 $spacing-07;
  background: $gray-10;

  &.IsLight {
    background: $white-0;
  }

  @include bp('lg') {
    min-height: 100%;
    margin-bottom: 0;
    padding: $spacing-08 $spacing-05;
  }

  .Content {
    max-width: 75%;
  }

  .IconWrapper {
    margin-bottom: $spacing-05;

    @include bp('lg') {
      margin-bottom: $spacing-09;
    }
  }

  .Icon {
    fill: $blue-60;

    &.IconBlack {
      fill: $black-100;
    }

    @include bp('lg') {
      width: 5rem;
      height: 5rem;
    }
  }

  .Headline {
    @include carbon--type-style('expressive-heading-03', true);

    margin-bottom: $spacing-04;
    color: $black-100;

    @include bp('lg') {
      @include carbon--type-style('expressive-heading-04', true);
    }
  }

  .Text {
    @include carbon--type-style('body-short-01', true);

    color: $gray-100;

    @include bp('lg') {
      @include carbon--type-style('body-short-02', true);
    }
  }
}

.PictogramTeaserSmall {
  @include bp('lg') {
    padding: $spacing-06 $spacing-05;
  }

  .IconWrapper {
    @include bp('lg') {
      margin-bottom: $spacing-06;
    }
  }

  .Icon {
    @include bp('lg') {
      width: 4rem;
      height: 4rem;
    }
  }

  .Headline {
    @include bp('lg') {
      @include carbon--type-style('expressive-heading-03', true);
    }
  }

  .Text {
    @include bp('lg') {
      @include carbon--type-style('body-short-01', true);
    }
  }
}

.PictogramTeaserWhite {
  background: $white-0;
}

.Link {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: $spacing-07;
  color: $blue-60;
  text-decoration: none;

  .LinkText {
    margin-right: $spacing-03;
  }
}
