@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';

.AccordionItem {
	margin-bottom: $spacing-03;
}

.AccordionHeader {
	@include carbon--type-style('expressive-heading-03', true);

	display: flex;
	flex: 1 1 100%;
	justify-content: space-between;
	align-items: center;

	@include bp('lg') {
		@include carbon--type-style('expressive-heading-04', true);
	}
}

.AccordionContent {
	background: $gray-80;
	padding: $spacing-05;

	@include bp('md') {
		padding: $spacing-07 $spacing-05;
	}

	&:hover {
		background: $gray-70;
	}
}

.Icon {
	width: 3rem;
	height: 3rem;
	color: $blue-40;
	margin-bottom: $spacing-05;

	@include bp('lg') {
		width: 5rem;
		height: 5rem;
		margin-bottom: 0;
	}
}

.OpenCloseIcon {
	margin-left: auto;
}

.RichText {
	padding: $spacing-06 0;
	color: $gray-10;
}

.RichTextHeading {
	margin-left: 0;
	margin-right: auto;
	padding-right: $spacing-05;
	hyphens: manual;
}
