@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';

.FocusTeaserColumn {
  margin-bottom: $spacing-04;

  @include bp('md') {
    margin-bottom: $spacing-07;
  }
}

.FocusTeaser {
  display: flex;
  min-height: 100%;
  padding: $spacing-05 0;
  color: inherit;
  background: $gray-10;
  text-decoration: none;

  .Headline {
    @include carbon--type-style('expressive-heading-03', true);

    color: $text-01;
  }

  .RichText {
    max-width: 306px;
    margin: $spacing-06 0;
  }

  .LeftColumn {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .RightColumn {
    display: flex;
    justify-content: center;
    min-height: 100%;
  }

  .Link {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: $spacing-07;
    color: $blue-60;
    text-decoration: none;

    .Text {
      margin-right: $spacing-02;
    }
  }

  &:hover {
    color: inherit;
    background: $gray-20;
    text-decoration: none;
  }

  &.IsLight {
    background: $white-0;

    &:hover {
      background: $gray-10;
    }
  }

  &.IsDark {
    color: $gray-10;
    background: $gray-90;

    .Headline {
      color: $gray-10;
    }

    .Link {
      color: $blue-40;
    }

    &:hover {
      color: $white-0;
      background: $gray-80;
    }
  }

  &.IsInactive {
    .Link {
      color: $gray-60;
    }
  }
}
