@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';

.AccordionItem {
  margin-bottom: $spacing-03;
  cursor: pointer;
}

.AccordionHeader {
  @include carbon--type-style('body-short-02', true);

  position: relative;

  @include bp('md') {
    display: flex;
    align-items: center;
  }
}

.AccordionImage {
  flex-shrink: 0;
  margin-bottom: $spacing-05;

  @include bp('md') {
    max-width: 33.3333%;
    margin-right: $spacing-06;
    margin-bottom: 0;
  }

  > * {
    display: block !important;
  }
}

.HeadingWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 $spacing-05 $spacing-06;

  @include bp('md') {
    align-items: center;
    padding: 0 $spacing-05 0 0;
  }
}

.AccordionContent {
  overflow: hidden;
  background: $white-0;
}

.RichText {
  padding: $spacing-09 $spacing-05;

  @include bp('lg') {
    padding: $spacing-09;
  }
}

.RichTextIntro {
  @include carbon--type-style('body-short-01', true);

  margin-top: $spacing-05;

  p {
    @include carbon--type-style('body-short-01', true);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.RichTextHeading {
  padding-right: $spacing-05;

  @include bp('lg') {
    padding-right: $spacing-10;
  }
}
