@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';
@import '@/styles/functions';

.LetTalkTeaserColumn {
  @include bp('md', true) {
    margin-bottom: $spacing-05;
  }
}

.LetsTalkTeaser {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
  color: $white-0;
  background: $cyan-90;

  .Headline,
  .Copy {
    @include carbon--type-style('body-short-02', true);

    padding: 0 $spacing-05;
  }

  .Headline {
    @include carbon--type-style('body-short-01', true);

    margin-bottom: $spacing-05;
    padding-top: $spacing-05;
    font-size: 1.375rem;
  }

  .Copy {
    margin-bottom: $spacing-05;
    color: $gray-20;
  }

  .LinkList {
    margin: auto 0 0;
    padding: 0 $spacing-05;
  }

  .LinkListItem {
    display: flex;
    justify-content: space-between;
  }

  .Link {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $spacing-05 0;
    color: $cyan-30;
    text-decoration: none;

    &:hover,
    &:active {
      color: $white-0;
    }
  }
}
