@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';
@import '@/styles/functions';

.Stage {
	position: relative;
	display: block;
	width: 100vw;
	height: auto;
	min-height: 75vh;
	background: $blue-90;

	@include bp('md') {
		min-height: 55vh;
	}

	@include bp('lg') {
		min-height: 55vh;
	}

	.HeadingWrapper {
		position: absolute;
		z-index: 2;
		top: 65%;
		transform: translate3d(0, -50%, 0);
		color: $white-0;

		@include bp('md') {
			top: 50%;
		}
	}

	.Heading {
		@include carbon--type-style('expressive-heading-05', true);

		font-size: carbon--rem(46px);

		@include bp('md') {
			@include carbon--type-style('productive-heading-06', true);

			font-size: carbon--rem(54px);
		}

		@include bp('lg') {
			@include carbon--type-style('productive-heading-06', true);

			font-size: carbon--rem(76px);
		}
	}

	.Subheading {
		@include carbon--type-style('productive-heading-02', true);

		color: $blue-40;
		font-weight: normal;
	}
}
