@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '@/styles/mixins';
@import '~carbon-components/scss/globals/scss/_typography.scss';

.SectionWrapper {
  width: 100%;
}

.Section {
  padding: $spacing-10 0;

  @include bp('md') {
    padding: $spacing-11 0;
  }

  :global([class^='bx--row'] > [class^='bx--col']) {
    position: relative;
  }

  & > :global([class^='bx--row']) {
    width: auto;
  }

  &.HasBottomImage {
    padding-bottom: $spacing-06;
  }

  &.IsCondensedBottom {
    padding-bottom: $spacing-06;
  }

  &.IsCondensedTop {
    padding-top: $spacing-06;
  }

  &.IsNarrowTop {
    padding-top: $spacing-09;
  }

  &.IsNarrowBottom {
    padding-bottom: $spacing-09;
  }

  &.IsNoSpaceTop {
    padding-top: 0;
  }

  &.IsNoSpaceBottom {
    padding-bottom: 0;
  }

  &.HasMarginBottom {
    @include bp('md') {
      margin-bottom: $spacing-07;
    }
  }

  .LeftSide {
    position: relative;
    margin-bottom: $spacing-07;

    @include bp('md', false) {
      margin-bottom: 0;
    }
  }

  .Title {
    position: relative;
    z-index: 1;

    :global(p:not([class])) {
      @include carbon--type-style('expressive-heading-02', true);
    }
  }

  .TitleLeft {
    @include bp('lg') {
      max-width: 320px;
    }
  }

  &.HasTopTitle {
    .Title {
      margin-bottom: $spacing-07;
    }
  }

  .RightImage,
  .RightImageMobile {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .RightImageHiddenMobile {
    @include bp('lg', true) {
      display: none;
    }
  }

  .RightImageMobile {
    margin-bottom: $spacing-07;

    @include bp('lg', false) {
      display: none;
    }
  }

  .BottomImage,
  .BottomImageMobile {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;

    @include bp('md') {
      max-width: 50%;
    }
  }

  .TopImage {
    padding-top: $spacing-10;

    @include bp('md') {
      margin-left: -9rem;
      padding-top: 0;
    }

    @include bp('lg') {
      margin-left: 10rem;
    }

    > div {
      display: none !important;

      @include bp('md') {
        display: block !important;
      }
    }
  }

  .BottomImage {
    margin-top: $spacing-10;
  }

  .BottomImageHiddenMobile {
    @include bp('md', true) {
      display: none;
    }
  }

  .BottomImageMobile {
    margin-top: $spacing-10;
    margin-bottom: $spacing-10;

    @include bp('md', false) {
      display: none;
    }
  }

  .LeftImage {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate3d(-50%, -50%, 0);
  }

  &.HasDarkBackground {
    color: $white-0;

    .Title {
      color: $white-0;
    }
  }
}
