@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';
@import '@/styles/functions';

.Button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 99;
  display: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: $gray-100;
  border: 2px solid $gray-60;
  border-radius: 50%;
  outline: 0;
  transition: opacity 200ms;

  &:hover {
    background: $gray-80;
  }

  &:focus {
    background: $gray-80;
    border-color: $focus;
  }

  &:global(.back-to-top-enter) {
    display: flex;
    opacity: 0;
  }

  &:global(.back-to-top-enter-done) {
    display: flex;
    opacity: 1;
  }

  &:global(.back-to-top-exit-done) {
    display: flex;
    opacity: 0;
  }
}

.Icon {
  fill: $white-0;
}
