@import '~carbon-components/scss/globals/scss/_vars.scss';

.ImageTextTeaser {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  color: $black-100;
  background: $white-0;
  text-decoration: none;
  transition: background 250ms ease-in-out;

  &:hover {
    color: $black-100;
    background: $gray-20;
    text-decoration: none;
  }

  .RichText {
    margin: $spacing-05 $spacing-05 $spacing-07;
  }

  .Icon {
    margin: auto $spacing-05 $spacing-05;
    fill: $blue-60;
  }
}
