@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';
@import '@/styles/functions';

.FooterColumn {
	@include bp('md', true) {
		margin-bottom: $spacing-07;
	}
}

.Footer {
	background: $gray-100;
	padding: $spacing-10 0;

	.Claim {
		@include carbon--type-style('body-short-02', true);

		color: $white-0;
	}

	.LinkList {
		margin-top: $spacing-05 * -1;
	}

	.LinkListItem {

		a {
			padding: $spacing-05 0;
			color: $gray-40;
			font-size: .875rem;
			text-decoration: none;

			&:hover {
				color: $blue-30;
				text-decoration: none;
			}

			&:active,
			&:focus {
				text-decoration: none;
				color: $blue-50;
			}
		}
	}

	.Link {
		padding: $spacing-05 0;
		color: $gray-40;
		text-decoration: none;

		&:hover {
			color: $blue-30;
			text-decoration: none;
		}

		&:active,
		&:focus {
			text-decoration: none;
			color: $blue-50;
		}
	}
}
