@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';
@import '@/styles/functions';

.LetTalkTeaserColumn {
	@include bp('md', true) {
		margin-bottom: $spacing-05;
	}
}

.LetsTalkTeaser {
	background: $cyan-90;
	color: $white-0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	.Headline,
	.Copy {
		@include carbon--type-style('body-short-02', true);

		padding: 0 $spacing-05;
	}

	.Headline {
		@include carbon--type-style('quotation-01', true);

		padding-top: $spacing-05;
		margin-bottom: $spacing-05;
	}

	.Copy {
		color: $gray-40;
		margin-bottom: $spacing-05;
	}

	.LinkList {
		margin: auto 0 0 0;
		padding: 0 $spacing-05;
	}

	.LinkListItem {
		display: flex;
		justify-content: space-between;
	}

	.Link {
		color: $cyan-20;
		padding: $spacing-05 0;
		width: 100%;
		text-decoration: none;
		display: flex;
		flex: 1 1 100%;
		justify-content: space-between;
		align-items: center;

		&:hover,
		&:active {
			color: $white-0;
		}
	}
}
