{
  "ignoreFiles": [
    "node_modules/**/*",
    "./**/*.js"
  ],
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "indentation": "tab",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "string-quotes": "single",
    "no-duplicate-selectors": null,
    "color-hex-case": "upper",
    "color-hex-length": "short",
    "color-named": "never",
    "selector-no-qualifying-type": true,
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "number-leading-zero": "never",
    "function-url-quotes": "always",
    "comment-whitespace-inside": "always",
    "at-rule-no-vendor-prefix": null,
    "rule-empty-line-before": "always",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-no-vendor-prefix": null,
    "media-feature-range-operator-space-before": "never",
    "media-feature-range-operator-space-after": "never",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-name-no-vendor-prefix": null,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "no-descending-specificity": null,
    "block-no-empty": null
  }
}
