@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '@/styles/mixins';

.RichText {
	color: inherit;
	hyphens: auto;

	:global(p),
	:global(.p) {
		@include carbon--type-style('body-short-02', true);

		margin-bottom: $spacing-04;

		&:only-child {
			margin-bottom: 0;
		}
	}

	:global(h1),
	:global(.h1) {
		@include carbon--type-style('productive-heading-07', true);

		margin-bottom: $spacing-06;
	}

	:global(.eh1) {
		@include carbon--type-style('expressive-heading-06', true);

		margin-bottom: $spacing-06;
	}

	:global(h2),
	:global(.h2) {
		@include carbon--type-style('productive-heading-06', true);

		margin-bottom: $spacing-05;
	}

	:global(.eh2) {
		@include carbon--type-style('expressive-heading-05', true);

		margin-bottom: $spacing-05;
	}

	:global(h3),
	:global(.h3) {
		@include carbon--type-style('productive-heading-05', true);

		margin-bottom: $spacing-04;
	}

	:global(.eh3) {
		@include carbon--type-style('expressive-heading-04', true);

		margin-bottom: $spacing-04;
	}

	:global(h4),
	:global(.h4) {
		@include carbon--type-style('productive-heading-04', true);

		margin-bottom: $spacing-04;
	}

	:global(.eh4) {
		@include carbon--type-style('expressive-heading-03', true);

		margin-bottom: $spacing-04;
	}

	:global(h5),
	:global(.h5) {
		@include carbon--type-style('productive-heading-03', true);

		margin-bottom: $spacing-04;
	}

	:global(.eh5) {
		@include carbon--type-style('expressive-heading-02', true);

		margin-bottom: $spacing-04;
	}

	:global(h6),
	:global(.h6) {
		@include carbon--type-style('productive-heading-02', true);

		margin-bottom: $spacing-04;
	}

	:global(.eh5) {
		@include carbon--type-style('expressive-heading-02', true);

		margin-bottom: $spacing-04;
	}

	:global(.d1) {
		@include carbon--type-style('display-01', true);

		margin-bottom: $spacing-07;

		&:global(.large) {
			font-size: carbon--rem(100px);

			@include bp('md') {
				font-size: carbon--rem(128px);
			}

			@include bp('lg') {
				font-size: carbon--rem(166px);
			}
		}
	}

	:global(.d2) {
		@include carbon--type-style('display-02', true);

		margin-bottom: $spacing-07;

		&:global(.large) {
			font-size: carbon--rem(100px);

			@include bp('md') {
				font-size: carbon--rem(128px);
			}

			@include bp('lg') {
				font-size: carbon--rem(166px);
			}
		}
	}

	:global(.d3) {
		@include carbon--type-style('display-03', true);

		margin-bottom: $spacing-07;

		&:global(.large) {
			font-size: carbon--rem(100px);

			@include bp('md') {
				font-size: carbon--rem(128px);
			}

			@include bp('lg') {
				font-size: carbon--rem(166px);
			}
		}
	}

	:global(.d4) {
		@include carbon--type-style('display-04', true);

		&:global(.large) {
			font-size: carbon--rem(100px);

			@include bp('md') {
				font-size: carbon--rem(128px);
			}

			@include bp('lg') {
				font-size: carbon--rem(166px);
			}
		}
	}
}
